@font-face {
    font-family: "OpenSans";
    src: url("OpenSans-Regular.ttf");
}
body {
    background-color: #f2f2f2;
    font-size: 14px;
    text-align: center;

}
h1 {
    color: mediumaquamarine ;
    font-size: 40px;
    vertical-align: middle;
    text-align: left;
    
}
header {
    background-image: url(wallpaper.jpg);
    background-size: 150px;
}
nav {
    background:lightblue;
    margin-right: 50px;
    margin: 0px;
    color: white;
    text-align: left;
    vertical-align: middle;
}
p{
    margin-left: 30px;
    width: 750px;
    font-weight: bold;
}
.navigationcolor {
    color: darksalmon;
    font-weight: bold;

}
